
/* .about-image-logo-overlay > .behind-image {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.about-image-logo-overlay > .logo {
    position: absolute;
    left: 30%;
    top: 40%;
    z-index: 1;
  } */